@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

caption, h1,h2,h3,h4,h5,p,li {
    font-family: "Playfair Display", serif;
}
.classcoloregrigio {color:rgb(157, 155, 155)} 
#fabulous {
    background-color:rgb(246, 240, 149); 
    border-top: 1px solid aqua ;}